{% macro enable(coin, label) %}

<div class="panel panel-etnx panel-settings">
    <div class="panel-heading">
        {{ label }}
    </div>
    <div class="panel-body">
        <img height="70px" width="70px" src="../img/{{ coin }}.png">
        <label class="switch">
                <span id="{{ coin }}-daemon-status" style="color: SpringGreen;"><i class="fas fa-signal"></i></span>   <span id="{{ coin }}-status-area" style="color: SpringGreen;"></span>
        </label>
    </div>
</div>

{% endmacro %}
